<!DOCTYPE html>
<html>
<head>
  <title>Secret Santa</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <div class="btn-group">
    <% if current_person %>
        <%= link_to 'Edit Info', edit_person_registration_path, class: 'btn btn-mini btn-success' %>
        <%= link_to 'Logout', destroy_person_session_path, class: 'btn btn-mini btn-danger', method: :delete %>
    <% end %>
  </div>
</div>
<% if flash[:error] || flash[:notice] %>
      <%= bootstrap_flash %>
<% end %>

<%= yield %>

</body>
</html>
